extends layout

block content
  if error
    p Error getting dynamic content.
  else
  .container
    div.diary 
      h1= title
      p=date
      hr
      h6 #{items.date}
    div.card-container
      each item in items 
          .card-body  
            div(class = 'card-header date') #{item.date}
              Total Calories:  #{item.total} 
            each m in item.foods
              div.card
                div.card-header #{m.name}
                  form.delete_btn(action="", method="post") 
                    input#itemid.form-control( name='itemid', required='true', value=m._id) 
                    input#date.form-control(name='date', required='true', value=item.date) 
                    button( type="submit") Delete
                li.list-group-item Calories: #{m.calories} cal
                li.list-group-item Protein: #{m.protein}g
                li.list-group-item Carbohydrates: #{m.carbohydrates}g

        



  
